html{
  font-size: 62.5%;  /* each relative unit is now 10 pixels */
  background-color: rgb(249, 250, 251);
  color: rgb(16, 201, 113);
}

a:hover{
  color: rgb(234, 238, 36);
}

a{
  text-decoration: underline;
  color: rgb(0, 161, 83);
}

button{
  background-color: rgb(16, 201, 113);
}

form{
  background-color: rgb(233, 233, 234);
}